* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto';
	background-image: url(images/patt.png);
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.row:after, .menu:after{
	content: "";
	clear:both;
	display: block;
}
[class*="col-"] {
	float:left;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.col-md-44{
  width: 33.33%
}
.col-md-9{
  width: 75%;
}
.col-md-8{
  width: 66%;
}
.col-md-4{
  width: 34%;
}
.logo {
	margin-top: 7px;
}

.searchform {
    position: relative;
    margin-left: 20px;
    width: 198px;
    border: 1px solid #2c71b8;
    margin-top:5px;
    line-height: 40px;
}
.search {
    border: none;
    outline: none;
    width: 164px;
    height: 38px;
    background: none;
    padding-left: 10px;
    font-weight: 300;
  	font-size: 21px;
}
.buttons {
  	border: none;
  	outline: none;
  	background: url(images/search.png);
  	height: 30px;
  	width: 30px;
  	position: absolute;
  	top: 6px;
  	right: 6px;
}
.products-count{
	position: absolute;
	width: 20px;
  	height: 20px;
  	border-radius: 50%;
  	line-height: 20px;  /* подробнее про line-height */
  	text-align: center;  /* выравнять текст по середине по горизонтали */
  	background-color: #2c71b8;
  	color:white;
  	transform: translate(-50%,-50%);

}
.carta{
	position: relative;
	width: 40px;
	height: 40px;
  	background: url(images/icon1.png);
  	margin: 5px 0 0 20px;
}





.menu {
  list-style: none;
  z-index: 100;
}

.menu li {
  color: #2c71b8;
	position: relative;
	height: 50px;
	width: 25%;
	text-align: center;
  border-left: 1px solid #2c71b8;
  float: left;
  font-weight: 300;
	font-size: 21px;
	font-family: 'Roboto';
}

.menu li:hover {
  color: white;
  background: #2c71b8;
  font-weight: 300;
	font-size: 21px;
	font-family: 'Roboto';
  z-index: 100;
}
.menu a:hover{
  color: white;
  background: #2c71b8;
  z-index: 100;
}
.menu li:last-child {
  	border-right: 1px solid #2c71b8;
}

.menu li a {
  color: #2c71b8;
  display: block;
  text-decoration: none;
  line-height: 50px;
  font-weight: 300;
	font-size: 21px;
	font-family: 'Roboto';
}
.menu ul {
  color: white;
	width: 293px;
  display: none;
  position: absolute;
  list-style: none;
	margin-left: -1px;
	padding: 0;
	overflow: hidden;
	font-weight: 300;
	font-size: 21px;
	font-family: 'Roboto';
}

.menu ul li {
  color: white;
  background: #2c71b8;
  float: none;
  font-weight: 300;
	font-size: 21px;
	font-family: 'Roboto';
	width: 300px;
	text-align: inherit;
}

.submenu li {position: relative;}

.submenu li a {
  color: white;
}

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
}

.menu .drop, .submenu .drop{
  color: inherit;
  text-align: inherit;
}
.menu li:hover > ul {
  	display: block;
  	background: #2c71b8;
    color:white;
}

.menu li li a:hover {
  	background: white;
  	color: #2c71b8;
  	width: 300px;
}
.menu li .drop {
margin-right: 20px;
 background:url("images/arrowblue.png") no-repeat right 23px;

}
.menu li:hover .drop {
 background:url("images/arrowwhite.png") no-repeat right 23px;
}
.drop a:hover{
  color: white;
  background: #2c71b8;
}

.slick-initialized .slick-slide{
  display: flex;
    align-items: center;
    justify-content: center;
}
.slider-block > div{
  text-align: center;
  /*padding: 200px 0;*/
  padding: 50px 0;
  color: white;
  font-size: 50px;
  margin: 0 auto;
}
.slider-before{
  border-bottom: 1px solid white;
  font-family: 'Roboto';
}
.slick-prev:before{
  content: '‹';
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.slick-next:before {
  content: '›';
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.slick-prev, .slick-next{
  line-height: 0;
  height: unset;
}
.slick-arrow{
  color: white;
}
.slick-dots li button{
  color: white;
}
.slick-dots li button::before{
  content: '🖄';
  color: white;
  width: 10px;
  height: 10px;
  font-size: 15px;
}
.slick-dots li.slick-active button:before{
  content: '■';
  color: white;
  width: 10px;
  height: 10px;
  font-size: 15px;
  opacity: 1;
}
.bread{
  color: #acc1dd;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 30px 0 30px 15px;

}
.title{
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-bottom: 30px;
  margin-left: 15px;
}

.product-card{
  width: 270px;
  height: 716px;
  border: 1px solid white;
}
.image{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 270px;
  height: 180px;
  background-color: rgba(255,255,255,0.75);
}
.zoom{
  position: absolute;
  background: url("images/icon8.png") no-repeat;
  background-position: center;
  top:10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
}
.zoom:hover{
  background: #2c71b8;
  background: url("images/icon81.png") no-repeat;
  background-position: center;
}
.like{
  position: absolute;
  background: url("images/icon5.png") no-repeat; 
  background-position: center;
  top:50px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
}
.like:hover, .liked{
  background: url("images/icon (7).png") no-repeat;
  background-position: center;
  background-color: #2c71b8;
}
.alt-background { 
background: url("images/icon (7).png") no-repeat;
  background-position: center;
  background-color: #2c71b8; }
.device-name{
  color:white;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
p{
  color: white;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 21px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}
span{
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 21px;
}
.price{
  color: white;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 48px;
  margin-top: 25px;
  text-align: center;
  position: relative;
}
.hprice{
  position: absolute;
  color: white;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 24px;
  vertical-align: bottom;
}
.details, .details1{
  width: 210px;
  height: 50px;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto';
  color:white;
  background: #2c71b8;
  border: 1px solid white;
  cursor: pointer;
}
.but{
  text-align: center;
  margin-top: 15px;
  position: relative;
}
.btn{
  height: 50px;
  width: 50px;
  font-size: 21px;
  background: #2c71b8;
  font-weight: 500;
  font-family: 'Roboto';
  color:white;
  border: 1px solid white;
}
.btn2{
  height: 50px;
  width: 50px;
  font-size: 21px;
  background: rgba(255,255,255,0.25);
  font-weight: 500;
  font-family: 'Roboto';
  color:white;
  border: 1px solid white;
}
.product_quantity{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.addto{
  width: 210px;
  height: 50px;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto';
  color:white;
  background: #2c71b8;
  border: 1px solid white;
  cursor: pointer;
}
.details:hover, .details1:hover, .addto:hover{
  background-color: rgba(255,255,255,0.25);
}
.cart{
  position: absolute;
  height: 20px;
  width: 20px;
  background: url(images/addtocart.png); 
  transform: translate(1022%, -172%);
}
button, .btn:hover{
  background-color: rgba(255,255,255,0.25);
}
.btn-text{
  height: 50px;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto';
  width: 102px;
  border: 1px solid white;
  color: white;
  text-align: center;
}
input[type="text"]{
  background: none;
}
input[type="text"]::placeholder { 
    color: #2c71b8;
    font-family: 'Roboto';
   }
.product-card{
  margin: 0px 0px 15px 15px;
}
.bgcolor{
  background-color: rgba(255,255,255,0.25);
  border-right: 1px solid white;
}
.devicetype{
  padding-top: 45px;
  padding-left: 30px;
  padding-bottom: 0px;
  font-size: 21px;
  font-weight: 700;
  font-family: 'Roboto';
  color:white;
}
.check{
  padding-left: 30px;
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto';
  color:white;
  margin-top: 20px;
}
input[type="checkbox"]{
  display:none;
}
label:before{
  content:"";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor:pointer;
  display: inline-block;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label:before{
  background-color: white; 
  display: inline-block;
}
.options{
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto';
  color:white;
  padding-left: 30px;
  padding-top: 20px;
}
.submitbutton{
  padding-bottom: 30px;
}





.sel{
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}
.selectric-wrapper, .selectric-open, .selectric-below, .selectric-open{
  width: 270px;
  height: 40px;
  font-size: 21px;
  font-family: 'Roboto';
}
.label{
  font-weight: 300;
}
.selectric{
  background: #2c71b8;
  border: 1px solid white;
}
.selectric-items{
  background: #2c71b8;
  border: 0.5px solid white;
  font-size: 21px;
  font-family: 'Roboto';
}
.selectric-items li {
  border-top: 0.5px solid white;
}
.selectric-scroll li{
  color: white;
}
.label{
  color: white;
}
.selectric-items li.highlighted{
  color: #2c71b8;
  background-color: white;
}
.selectric-items li.selected{
  color: #2c71b8;
  background-color: white;
}
.selectric-items li:hover{
  color: #2c71b8;
  background-color: white;
}
.selectric .label{
  color: white;
  font-size: 21px;
  font-family: 'Roboto';
}
.selectric-focus .selectric {
  border-color: white;
}

.selectric-hover .selectric {
  border-color: white;
}
.selectric-items ul, .selectric-items li{
  font-size: 21px;
  font-family: 'Roboto';
}

.selectric-hover .selectric .button{
  color: white;
}
.selectric .button {
  color: white;
}
.selectric .button:after {
  border-top-color: white;
}
.selectric-focus .selectric {
  border-color: white;
}

.selectric-hover .selectric {
  border-color: white;
}

.selectric-hover .selectric .button {
  color: white;
}
.selectric-hover .selectric .button:before {
  border-top-color: orange;
}
.selectric-hover .selectric .button:after {
  border-top-color: white
}
.selectric-open .selectric {
  border-color: white;
}
.footer{
  text-align: center;
  line-height: 100px;
  height: 100px;
  background: rgba(255,255,255,0.75);
  font-size: 21px;
  font-family: 'Roboto';
  color: #2c71b8;
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal-block {
  width: 300px;
  margin: 80px auto;
  height: 200px;
  border: 1px solid grey;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
}
.form-fields{
  margin: 10px 0;
}
.form-fields input{
  width: 100%;
  height: 30px;
  padding: 5px;
}
.btn-close{
  text-align: right;
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}



